<section class="flashcards__cards cards">
  <div class="container">
    <div class="card sg-card sg-card--padding-small sg-card--centered">

      <div class="sg-card__hole">
        <div class="js-card-progressbar card__progress sg-badge sg-badge--blue-secondary-light sg-badge--large">
          <div class="card__progress_value sg-text sg-text--blue sg-text--emphasised">
            <span class="js-card-progress-value"></span> cards
          </div>
        </div>
      </div>

      <div class="sg-card__hole">
        <span class="js-card-question sg-text sg-text--headline sg-text--regular"></span>
      </div>

      <div class="sg-card__hole">
        <button class="js-card-answer sg-button-primary sg-button-primary--dark sg-button-primary--full-width card__action"></button>
        <button class="js-card-answer sg-button-primary sg-button-primary--dark sg-button-primary--full-width card__action"></button>
      </div>

    </div>
  </div>
</section>
