<section class="flashcards__intro">
  <div class="container">
    <div class="sg-content-box">

      <div class="sg-content-box__title sg-content-box__title--spaced-top-xlarge">
        <h2 class="sg-text-bit sg-text-bit--light">
          Psst, want some flashcards?
        </h2>
      </div>

      <div class="sg-content-box__content sg-content-box__content--spaced-top-xlarge">
        <div class="sg-text sg-text--light sg-text--standout">
          10 questions. Poland. Can you handle it?
        </div>
      </div>

      <div class="sg-content-box__actions sg-content-box__actions--spaced-top-xlarge">
        <button class="js-start sg-button-primary sg-button-primary--dark">
          Let's get started!
        </button>
      </div>

    </div>
  </div>
</section>
